<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>0B35AD67-62C1-496C-A212-1C4784731E27</string>
			<string>E7F46294-6063-4EE7-BA26-3FDE4CBFD518</string>
			<string>F5A6E83D-6A06-41F2-AAA2-B4C2A0AADC49</string>
			<string>960EE079-5864-4B17-8E0C-D5225F2AB6E4</string>
			<string>------------------------------------</string>
			<string>CD0CF43E-5B9C-4BCF-9A19-4B2DB9D62CE9</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Salesforce.com</string>
	<key>ordering</key>
	<array>
		<string>C4D3A5F4-B1DE-48C5-84CE-AC99DDA78292</string>
		<string>CD0CF43E-5B9C-4BCF-9A19-4B2DB9D62CE9</string>
		<string>0B35AD67-62C1-496C-A212-1C4784731E27</string>
		<string>E7F46294-6063-4EE7-BA26-3FDE4CBFD518</string>
		<string>F5A6E83D-6A06-41F2-AAA2-B4C2A0AADC49</string>
		<string>960EE079-5864-4B17-8E0C-D5225F2AB6E4</string>
	</array>
	<key>uuid</key>
	<string>D0ACF90F-D30A-4D1C-8D7A-FFF383CB5D4C</string>
</dict>
</plist>
